:root {
  --bg-color: #020917;
  --text-color: #fff;
  --border-color: #fff;
  --link-hover: #646cff;
  --hover-bg: #010d25;
  --toggle-icon: #000;
}

body.dark-mode {
  --bg-color: #fff;
  --text-color: #020917;
  --border-color: #020917;
  --link-hover: #646cff;
  --hover-bg: #e0e0e0;
  --toggle-icon: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Inter, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main {
  flex-grow: 1;
  padding: 0 25px 20px;
  width: 100%;
}

main.projects-main {
  padding: 0 10px 20px;
  width: 100%;
}

section {
  margin: 20px 0 40px;
}

section h2 {
  font-weight: 300;
  margin-bottom: 10px;
}

section p {
  font-weight: 100;
  text-align: justify;
  margin: 0;
}

section hr {
  width: 80%;
  margin: 0 auto 20px;
  border: none;
  border-top: 1px solid var(--border-color);
}

@media (min-width: 650px) {
  main {
    width: 80%;
    margin: 0 auto;
  }

  main.projects-main {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  main {
    width: 50%;
  }

  main.projects-main {
    width: 80%;
  }
}
