:root {
  --bg-color: #020917;
  --bg2-color: #000e28;
  --text-color: #fff;
  --border-color: #fff;
  --link-hover: #646cff;
  --hover-bg: #010d25;
  --toggle-icon: #000;
}

body.dark-mode {
  --bg-color: #fff;
  --bg2-color: #dadada;
  --text-color: #020917;
  --border-color: #020917;
  --link-hover: #646cff;
  --hover-bg: #e0e0e0;
  --toggle-icon: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Inter, sans-serif;
  background-image: linear-gradient(
    180deg,
    var(--bg-color) 0%,
    var(--bg2-color) 70%
  );
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main {
  flex-grow: 1;
  padding: 0 25px 20px;
  width: 100%;
}

main.projects-main {
  padding: 0 10px 20px;
  width: 100%;
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
section:nth-of-type(1) {
  animation-delay: 0.1s;
}
section:nth-of-type(2) {
  animation-delay: 0.5s;
}
section:nth-of-type(3) {
  animation-delay: 0.9s;
}

section {
  margin: 20px 0 40px;
  opacity: 0;
  animation: slideInUp 0.6s ease-out forwards;
}

section h2 {
  font-weight: 400;
  margin-bottom: 10px;
}

section h3 {
  font-weight: 300;
  margin-bottom: 10px;
}

section p {
  font-weight: 100;
  margin: 0;
}

section hr {
  width: 80%;
  margin: 0 auto 20px;
  border: none;
  border-top: 1px solid var(--border-color);
}

@media (min-width: 650px) {
  main {
    width: 80%;
    margin: 0 auto;
  }

  main.projects-main {
    width: 90%;
  }
  main.photography-main {
    width: 95%;
  }
}

@media (min-width: 1200px) {
  main {
    width: 50%;
  }

  main.projects-main {
    width: 80%;
    transition: width 1s ease-in-out;
  }
  main.photography-main {
    width: 98%;
    padding: 0px;
    transition: width 1s ease-in-out;
  }
}
